vue/node_modules
vue/dist
release/
.idea/
.vscode/
.DS_Store
data/

litepaper.aux
litepaper.bcf
litepaper.log
litepaper.out
litepaper.synctex.gz
litepaper.toc
litepaper.bbl
litepaper.blg
litepaper.run.xml
litepaper.tex.bbl
litepaper.tex.blg
out